@tailwind base;
@tailwind components;
@tailwind utilities;


.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}
.artifika-regular {
  font-family: "Artifika", serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}




/*  */



.scrolling-list {
  display: inline-flex;
  animation: scroll 25s linear infinite; 
}










@keyframes scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}


@media (max-width:845px){
  .left_skills{
    left: 20px;
  }

  .right_skills{
    right: 20px;
  }

  .right_skill_react{
    right: 90px;
  }
}



